 <div fxLayout="column" xLayout.xs="column">
	<section  id="section01">
		<div class="image" id="awesomePart"><h1>{{title}}</h1></div>
		<a href="#section02" class="scroll"><span><i class="fas fa-chevron-down"></i></span></a>
	</section>
	<section  id="section02" class="section white-bg">
		<app-frame></app-frame>
	</section>
	<section  id="section03" class="section light-bg">
		<app-about></app-about>
	</section>
	<section  id="section04" class="section team">
 		<app-team></app-team>
 	</section>
 	<section  id="section05" class="section white-bg">
	 	<app-reasons ></app-reasons>
	 </section>
	<app-scroll-up></app-scroll-up>
</div>
