 <div fxLayout="column" xLayout.xs="column" class="relative">
	<section #top>
		<div class="image" id="awesomePart"><h1>{{title}}</h1></div>
		<a (click)="scrollToElement(firstSec)" class="scroll"  ><span><i class="fas fa-chevron-down"></i></span></a>
	</section>
	<section #firstSec class="section white-bg">
		<app-frame></app-frame>
	</section>
	<section class="section light-bg">
		<app-about></app-about>
	</section>
	<section class="section team">
 		<app-team></app-team>
 	</section>
 	<section class="section white-bg">
	 	<app-reasons ></app-reasons>
	 </section>

	<a (click)="scrollToElement(top)" class="btn_up"><i class="fas fa-chevron-up"></i></a>
</div>
