 <div fxLayout="column" xLayout.xs="column" class="relative">
	<section  id="section01">
		<div class="image" id="awesomePart"><h1>{{title}}</h1></div>
	</section>
	<section  id="section02" class="section white-bg">
		<app-frame></app-frame>
	</section>
	<section  id="section03" class="section light-bg">
		<app-about></app-about>
	</section>
	<section  id="section04" class="section team">
 		<app-team></app-team>
 	</section>
 	<section  id="section05" class="section white-bg">
	 	<app-reasons ></app-reasons>
	 </section>
</div>
