@import 'assets/styles/main.scss';

.footer{
	text-align: center;
	padding: 80px 0 20px;
    background: $grey_blue url(assets/images/bg_footer.jpg) no-repeat top center;
    text-align: center;
}
.text-centered{
	text-align: center;
}
